
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  /* background: linear-gradient(to bottom, #123524, #ffffff, #123524); */
}

header,
footer {
  background-color: #123524;
  color: white;
  text-align: center;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}

main {
  padding: 1rem;
}

a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.section {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
}

.container {
  width: 100%;
  display: block;
  margin: auto;
}

.content-section {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}

.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider-images {
  display: flex;
  align-items: center;
  gap: 21px;
}

.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.slider-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark gradient (adjust opacity as needed) */
  border-radius: 6px;
  z-index: 1; /* Ensure it sits above the image but below other content */
}

.slider-img {
  width: 110px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
  height: 480px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(5) {
  height: 560px;
}
.slider-images .slider-img:nth-child(3) {
  height: 600px;
}
.slider-images .slider-img:nth-child(4) {
  height: 665px;
}

.imgH1 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(270deg);
  transition: 0.7s ease;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  z-index: 2;
}

.details {
  position: absolute;
  bottom: 43px;
  left: 43px;
  z-index: 2;
}

.details h3 {
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  /* padding: 12px 18px; */
  display: none;
  text-decoration: none;
}

.details a {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  /* padding: 12px 18px; */
  display: none;
  text-decoration: none;
}

.slider-img.active {
  width: 766px !important;
  height: 750px !important;
}

.slider-img.active .imgH1 {
  display: none;
}

.slider-img.active .details a,
.slider-img.active .details h3 {
  display: block;
}

.contact {
    min-height: 100vh;
    background-color: #e8f0fe;
    padding: 50px;
    text-align: center;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
}

.form-container h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;

}

.form-group {
    margin-bottom: 20px;

}

input, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #333;
    box-shadow: 0 0 8px #bbb;
}
input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}


button {
  display: inline-block;
    padding: 12px 24px;
    border: none;
    background-color: #123524;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #1F5C3F;
}

.contact-info {
    text-align: left;
    padding-left: 30px;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    margin-bottom: 10px;
    color: #555;
}

.contact-icon {
    color: #1F5C3F;
    margin-right: 10px;
}

@media (max-width: 1025px) {
  .slider-container {
    overflow: hidden;
    margin-bottom: 0;
    margin: 5px;
  }

  .slider-images {
    padding-top: 15px;
    padding-bottom: 15px;
    
overflow-y:hidden !important;
    gap: 10px; /* Adjust gap for smaller screens */
  }

  .slider-img {
    height: 65px !important; /* Set a height to fit better in vertical layout */
    /* Allow width to adjust */
  }

  .slider-img.active {
    width: 85vw !important;
    height: auto; /* Increase height of the active image */
  }

  .slider-images {
    flex-direction: column; /* Switch to vertical layout */
    overflow-y: auto; /* Hide any overflow */
    overflow-x: hidden; /* Hide any overflow */
    height: auto; /* Ensure it fills the viewport height */
    max-height: 100vh;
    width: 100%;
  }
  .imgH1 {
    display: none;
    font-size: 16px;
    left: 0; /* Adjusted for vertical layout */
    top: -50%;
    transform: rotate(0deg); /* No rotation for vertical layout */
  }

  .details {
    bottom: 10px;
    left: 10px;
  }

  .details h3 {
    font-size: 18px;
  }

  .details a {
    font-size: 16px;
  }

  .slider-images .slider-img:first-child,
  .slider-images .slider-img:last-child {
    width: 50vw;
  }

  .slider-images .slider-img:nth-child(2),
  .slider-images .slider-img:nth-child(5) {
    width: 55vw;
  }
  .slider-images .slider-img:nth-child(3) {
    width: 60vw;
  }
  .slider-images .slider-img:nth-child(4) {
    width: 70vw;
  }

  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }

  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .content-section .title {
    text-align: center;
    font-size: 19px;
  }

  .form-container {
    padding :20px;
  }
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
  .contact-info {
    padding-left: none;
}
}

@media (max-width: 480px) {
  .slider-images {
    flex-direction: column; /* Vertical layout */
  }

  .slider-img {
    height: 75px; /* Adjust height for mobile */
  }

  .slider-img.active {
    width: 90vw; /* Use viewport width to prevent overflow */
    height: auto; /* Adjust active image height for mobile */
  }

  .imgH1 {
    font-size: 14px;
  }

  .details {
    bottom: 5px;
    left: 5px;
  }

  .details h3 {
    font-size: 16px;
  }

  .details a {
    font-size: 14px;
  }
}
